body{
    background-color: black;
    margin: 0;
}
nav>ul{
    display: flex;
    width: 100%;
}
nav{
  margin:0;
  display: flex;
  justify-content: center;

} 
nav>ul>li{
    flex-basis: 20%;
    display: flex;
    text-align: center;
}

a{
    border: medium solid whitesmoke;
    padding: 4px;
    flex-grow: 1;
    text-decoration: none;
    font-family: Georgia;
    border-radius: 5px;
}

ul{
    list-style-type: none;
    margin-right: 3%;
}


main{
    display: flex;
}
#sasuke{
    display: flex;

}
#itachi{
    display: flex;
    flex-wrap: nowrap;
}

footer{
    border: medium solid whitesmoke;
}

header{
    border: medium solid ;
    display: flex;
    background-size:cover;
    height:30vh;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
}
#sasuke_img{
    width: 20rem;
    height:20rem;
    margin-right: 3%;
    margin-left: 5%;
    border: thin solid whitesmoke;
    border-radius: 5px;
}

#uchiwa_ban{
    flex-grow: 1;
}
#itachi_img{
    width: 20rem;
    margin-right: 3%;
    border: thin solid whitesmoke;
    border-radius: 5px;
}
p{
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}