body{
  background-color: beige;
  margin: 0;
}
nav>ul{
  display: flex;
  width: 100%;
}
nav{
  margin:0;
  display: flex;
  justify-content: center;
} 

nav>ul>li{
  flex-basis: 20%;
  display: flex;
  text-align: center;
  margin-right: 2%;
}

a{
  border: medium solid orange;
  margin-right: 1%;
  border-radius: 5px;
  padding: 4px;
  flex-grow: 1;
  text-decoration: none;
  font-family: Georgia;
}

ul{
  list-style-type: none;
}


main{
  display: flex;
}
#Minato{
  display: flex;
  
  
}
#naruto{
  display: flex;
  
}

header{
  border: medium solid orange;
  display: flex;
  background-color: black;
  background-size:cover;
  height:30vh;
  border-radius: 30px;
}
#minato_img{
  width: 20rem;
  height:20rem;
  border: thin solid black;
  border-radius: 5px;
  margin-right: 2%;
}

#naruto_ban{
  flex-grow: 1;
}
aside{
  display: noflex;
  margin: 5%;
}

#minato >article{
  padding: 5 px;
}
#naruto_img{
  width: 20rem;
  margin-right: 3%;
  border: thin solid black;
  border-radius: 5px;
}
main>section{
  border: medium solid orange;
  border-radius: 10px
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

aside >section>nav{
  flex-wrap:wrap;
}
aside img{
  width:  10 px ;
  height: 10 px;
}
footer{
  border: medium solid orange;
  margin-bottom: 2%;
  margin-top: 2%;
  border-radius: 10px;
}